.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #000000ad;
  border-radius: 1rem;
}

.content {
  max-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.tabContent {
  transition: transform 0.3s ease-in-out;
}

.transitioning {
  transform: translateX(-100%);
}

@media (max-width: 1024px) {}

@media (max-width: 720px) {}

@media (max-width: 600px) {}

@media (max-width: 480px) {}

@media (max-width: 360px) {}